# created by virtualenv automatically
/bin
/share
/tmp
/results
/share
/lib
pyvenv.cfg
jaqpot_docker/__pycache__/__init__.cpython-38.pyc
jaqpot_docker/__pycache__/autodock_docker.cpython-38.pyc
3D_BA_AAML_BAAAML.xaa.sdf
3D_BA_AAML_BAAAML.xaa.sdf.gz
AF-Q7PRQ0-F1-model_v4.pdb
